.mediaViewInfo {
	--web-view-name: DevicePhone;
	--web-view-id: DevicePhone;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: DevicePhone;
}
body {
	background-color: rgba(200,238,135,1);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.DevicePhone {
	position: absolute;
	width: 428px;
	height: 926px;
	background-color: rgba(200,238,135,1);
	overflow: hidden;
	--web-view-name: DevicePhone;
	--web-view-id: DevicePhone;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.bg1 {
	position: absolute;
	width: 316px;
	height: 316px;
	left: 53px;
	top: 5px;
	overflow: visible;
}
.Rectangle_1 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 361px;
	height: 78px;
	left: 34px;
	top: 346px;
}
.Group_4 {
	position: absolute;
	width: 112px;
	height: 58px;
	left: 262px;
	top: 356px;
	overflow: visible;
}
.Text {
	left: 35px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.n_000000 {
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 29px;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.Group_7 {
	position: absolute;
	width: 112px;
	height: 58px;
	left: 54px;
	top: 355px;
	overflow: visible;
}
.n_ {
	left: 13px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.n__200000 {
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 29px;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.Group_5 {
	position: absolute;
	width: 167px;
	height: 89px;
	left: 223px;
	top: 429px;
	overflow: visible;
}
.Rectangle_1_r {
	fill: rgba(255,255,255,1);
}
.Rectangle_1_r {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 60px;
	left: 0px;
	top: 29px;
}
.Text_s {
	left: 62px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.n__200000_t {
	left: 25px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 29px;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.Group_6 {
	position: absolute;
	width: 167px;
	height: 89px;
	left: 41px;
	top: 429px;
	overflow: visible;
}
.Rectangle_1_v {
	fill: rgba(255,255,255,1);
}
.Rectangle_1_v {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 60px;
	left: 0px;
	top: 29px;
}
.Text_w {
	left: 47px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,115,131,1);
}
.n__50000 {
	left: 25px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 25px;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,115,131,1);
}
.Rectangle_2 {
	fill: rgba(255,115,131,1);
}
.Rectangle_2 {
	background-color: rgba(255,115,131,1);
	border-radius: 36px;
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 81px;
	left: 52px;
	top: 713px;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}

.Rectangle_2 div {
	position: absolute;
    bottom: 70px;
    left: 114px;
    cursor: pointer;
    text-align: center;
    font-family: Hacen Tunisia Bd;
    font-size: 145px;
    color: #ff7383;
}

button p {
	background: none;
}
.n__ {
	background: none;
	left: 93px;
	top: 729px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-size: 33px;
}
.aya-quran1 {
	left: 57px;
	top: 821px;
	position: absolute;
	overflow: visible;
	width: 328px;
	white-space: nowrap;
	text-align: center;
	font-family: Hacen Tunisia Bd;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Rectangle_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 55px;
	left: 221px;
	top: 359px;
}
.Group_2 {
	display: none;
	position: absolute;
	width: 338px;
	height: 179px;
	left: 48px;
	top: 518px;
	overflow: visible;
}
.Mask_Group_1 {
	position: absolute;
	width: 510px;
	height: 90.117px;
	left: -41px;
	top: 577.466px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}